body {
  font-family: 'Roboto', sans-serif;
  background-color: #EFEFEF;
}
.unsupported-message {
  display: none;
}
template, body.unsupported > * {
  display: none;
}
body.unsupported main.unsupported-message {
  display: block;
}
main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: calc(100% - 350px);
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
h1 {
  margin-left: 2.5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 a {
  text-decoration: none;
  color: black;
}
img.github {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px 135px 5px 5px;
  background-color: #F8F8F8;
  border-bottom: solid #D1D1D1 1px;
  border-left: solid #D1D1D1 1px;
  border-bottom-left-radius: 8px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0 5px;
}
nav a {
  color: #D74D35;
}

ol {
  list-style: none;
  background-color: #F8F8F8;
  margin: 0 2.5px;
  padding: 5px;
  border: solid #D1D1D1 1px;
  border-radius: 8px;
  overflow: hidden;
  min-width: 25em;
}
ol li {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}
ol li:hover {
  background-color: #93C0E1;
}
ol li.selected {
  background-color: #6B99C1;
}
ol li.selected:hover {
  background-color: #307DAF;
}

main section.minimize {
  display:none;
}

main section.active {
  position: fixed;
  top: 125px;
  -webkit-transform: translateX(-175px);
      -ms-transform: translateX(-175px);
          transform: translateX(-175px);
}
main section.active ol {
  max-width: 170px;
  min-width: 170px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
}
main section.active ol li {
  padding: 0;
  display: none;
  font-size: small;
}
main section.active ol li.selected {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}
main section.active ol li.selected.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #93C0E1;
}
main section.active ol li span {
  padding: 3px 0;
  font-size: inherit;
}
main section.active ol li .name {
  display: none;
}
main section.active ol li .time {
  min-width: 0;
}
main section.active ol li .type {
  padding-right: 2px;
  display: list-item;
  width: 1em;
  text-align: center;
}
main section.active ol li .slot {
  display: none;
}
main section.active ol li .location {
  font-size: x-small;
}

main section.clock {
  position: fixed;
  -webkit-transform: translateX(-175px);
      -ms-transform: translateX(-175px);
          transform: translateX(-175px);
  width: 170px;
}
main section.clock .time {
  font-size: x-large;
  text-align: right;
}
main section.clock .game {
  font-weight: bold;
  color: #D74D35;
}
main section.clock .local {
  color: #2E7FB4
}
ol li .time, ol li .name, ol li .location {
  padding: 2px 4px;
}
ol li .time {
  min-width: 4.5em;
  text-align: right;
}
ol li .slot {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  color: #7F1D0B;
}
ol li .name {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
ol li .location {
  font-size: x-small;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}
ol li .type {
  display: none;
}
section.ads {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2px 6px 2px 10px;
  background-color: #F8F8F8;
  border: solid #D1D1D1 1px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 600px;
}
section.ads > div {
  padding: 4px 0;
  max-width: 160px;
}
section.ads .beg {
  text-align: left;
  position: absolute;
  top: calc(50% - 120px);
  color: #D74D35;
}
