body {
  font-family: 'Roboto', sans-serif;
}
.unsupported-message {
  display: none;
}
template, body.unsupported > * {
  display: none;
}
body.unsupported main.unsupported-message {
  display: block;
}
main {
  display: flex;
}
ol {
  list-style: none;
  background-color: #CFF09E;
  margin: 0;
  padding: 0;
}
li {
  cursor: pointer;
  display: flex;
}
li:hover {
  background-color: #A8DBA8;
}
li.selected {
  background-color: #79BD9A;
}
li.selected:hover {
  background-color: #3B8686;
}

li .time, li .name, li .location {
  padding: 2px 4px;
}
li .time {
  min-width: 4.5em;
  text-align: right;
}
li .name {
  flex-grow: 1;
}
li .location {

}
